*~
*/bin/**
*/obj/**
*/*/bin/**
*/*/obj/**
*/*/*/bin/**
*/*/*/obj/**
*/*/*/*/bin/**
*/*/*/*/obj/**
*.userprefs
/fsharp/packages/**
Cargo.lock
/lsm/target
/misc/target
/lsm/tmp
/bson/target
/server/target
/elmo/target
/rust-sqlite/target
/storage/sqlite3/target
